section {
  padding: 100px 0;
}

.text {
  font-size: 20px;
  line-height: 1.5;
  margin: 27px 0 56px;
  letter-spacing: 0.2px;
  text-align: center;
}

.container {
  max-width: 1050px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
}

footer {
  padding: 100px 0 35px;
  text-align: center;
}
